# Compilation output
/target
/build

# Not sharing keys
config

# Vagrant files
/.vagrant

# IDE files
/.idea
/*.iml
/.metadata
/.project
/nb-configuration.xml
.classpath
.settings/
!/config/
/nbactions.xml