
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
	color: #3b3b3b;
}
#page,
#main-wrapper {
	background: #ffffff;
}
.tabs ul.primary li a.active {
	background-color: #ffffff;
}
.tabs ul.primary li.active a {
	background-color: #ffffff;
	border-bottom: 1px solid #ffffff;
}
#header {
	background-color: #fdd6df;
	background-image: -moz-linear-gradient(top, #f6c5d0 0%, #fff 100%);
	background-image: -ms-linear-gradient(top, #f6c5d0 0%, #fff 100%);
	background-image: -o-linear-gradient(top, #f6c5d0 0%, #fff 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffe9ee), color-stop(1, #fff));
	background-image: -webkit-linear-gradient(top, #ffe9ee 0%, #fff 100%);
	background-image: linear-gradient(top, #ffe9ee 0%, #fff 100%);
	
}
#page-wrapper,
#footer-wrapper {
	background: #292929;
	background-color: #fdd6df;
	background-image: -moz-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
	background-image: -ms-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
	background-image: -o-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e90d3b), color-stop(1, #ab053b)) !important;
	background-image: -webkit-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
	background-image: linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
}