
/* ---------- Theme Specifications ----------- */
#fu-berlin-logo{
	float: right;
	margin-top: 47px;
}
.navigation_line{
	height:5px;
	width:100%;
	display:block;
}

/* ---------- Overall Specifications ---------- */

body {
	line-height: 1.5;
	font-size: 87.5%;
	word-wrap: break-word;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: inherit;
}
h1 {
	font-size: 1.357em;
	color: #000;
}
h2 {
	font-size: 1.143em;
}
p {
	margin: 0 0 1.2em;
}
del {
	text-decoration: line-through;
}
tr.odd {
	background-color: #dddddd;
}
img {
	outline: 0;
}
code,
pre,
kbd,
samp,
var {
	padding: 0 0.4em;
	font-size: 0.857em;
	font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
}
code {
	background-color: #f2f2f2;
	background-color: rgba(40, 40, 0, 0.06);
}
pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
	font-size: 100%;
	background-color: transparent;
}
pre code,
pre samp,
pre var {
	padding: 0;
}
.description code {
	font-size: 1em;
}
kbd {
	background-color: #f2f2f2;
	border: 1px outset #575757;
	margin: 0 3px;
	color: #666;
	display: inline-block;
	padding: 0 6px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
pre {
	background-color: #f2f2f2;
	background-color: rgba(40, 40, 0, 0.06);
	margin: 10px 0;
	overflow: hidden;
	padding: 15px;
	white-space: pre-wrap;
}


/* ------------------ Fonts ------------------ */

body,
#site-slogan,
.ui-widget,
.comment-form label {
	font-family: Georgia, "Times New Roman", Times, serif;
}
#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input,
textarea,
select,
a.button {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

/* --------------- Main Menu ------------ */

#main-menu {
	clear: both;
	padding-top: 15px;
}
#main-menu-links {
	font-size: 0.929em;
	margin: 0;
	padding: 0 15px;
}
#main-menu-links li {
	float: left; /* LTR */
	list-style: none;
	padding: 0 1px;
	margin: 0 1px;
}
#main-menu-links a {
	color: #fff;
	font-size:15px;
	background: #ccc;
	background: rgba(255, 255, 255, 0.7);
	float: left; /* LTR */
	height: 2.4em;
	line-height: 2.4em;
	padding: 0 0.8em;
	text-decoration: none;
	font-weight:bold;
	-khtml-border-radius-topleft: 8px;
	-khtml-border-radius-topright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #fdd6df;
	background-image: -moz-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
	background-image: -ms-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
	background-image: -o-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e90d3b), color-stop(1, #ab053b)) !important;
	background-image: -webkit-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
	background-image: linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
}
#main-menu-links a:hover,
#main-menu-links a:focus {
	color:#fff;
	background: #292929;
	background-color: #fdd6df;
	background-image: -moz-linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
	background-image: -ms-linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
	background-image: -o-linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff0d3b), color-stop(1, #c3053b)) !important;
	background-image: -webkit-linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
	background-image: linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
}
#main-menu-links a:active {
	background: #b3b3b3;
	background: rgba(255, 255, 255, 1);
}
#main-menu-links li a.active {
	border-bottom: none;
}

/* ------------------- Main ------------------- */

#main {
	margin-bottom: 40px;
}

/* ----------------- Content ------------------ */

.content {
	margin-top: 10px;
}
h1#page-title {
	font-size: 2em;
	line-height: 1;
}
#content h2 {
	margin-bottom: 2px;
	font-size: 1.429em;
	line-height: 1.4;
}

/* ------------------ Footer ------------------ */

#footer-wrapper {
	color: #c0c0c0;
	color: rgba(255, 255, 255, 0.65);
	font-size: 0.857em;
}

/* ---------------- Messages	----------------- */

#messages {
	padding: 0 0 30px;
	margin: 0 auto;
}
.featured #messages {
	background: #f0f0f0;
	background: rgba(30, 50, 10, 0.08);
}
div.messages {
	margin: 8px 15px;
}

/* -------------- Form Elements	 ------------- */
input {
	margin: 2px 0;
	padding: 7px;
	font-size: 0.929em;
}
select.form-select {
	padding: 4px;
}
input.form-text,
select.form-select {
	border: 1px solid #ccc;
}
.form-item {
	float: left;
	margin-bottom: 1em;
	margin-right: 50px;
	margin-top: 3px;
}