@charset "utf-8";
/* CSS Document */

.item {
	padding: 5px;
	overflow: hidden;
	width: 100%;
	padding:30px 0 30px 0;
	border-bottom: 1px solid #efebe8;
}
.pdc-questions img{
	vertical-align:middle;	
	margin-right:10px;
}
.item-image {
	float: left;
	padding-right:15px;
}
.item-image img {
	max-height: 105px;
	max-width: 105px;
}
.item-summary {
	float: left;
	margin-right: 10px;
	width: 440px;
}
.item-title a{
	font-weight: bold;
    word-wrap: break-word;
	font-size: 1.5em;
    text-decoration: none;
	color: #a5003b;
    font-family: KarbidWeb,Calibri,Arial,sans-serif;
}
.item-title a:hover{
	color: #a5003b;
}
.item-title a:visited{
	color: #a5003b;
}
.item-title{
	font-weight: bold;
    word-wrap: break-word;
	font-size: 1.5em;
    text-decoration: none;
	color: #a5003b;
    font-family: KarbidWeb,Calibri,Arial,sans-serif;
}
.item-title:hover{
	color: #a5003b;
}
.item-title:visited{
	color: #a5003b;
}
.item-subtitle {
}
.item-calculate {
	width:125px;
	padding:8px;
	border-radius:5px;
	float:right;
	background-color: #fdd6df;
  background-image: -moz-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
  background-image: -ms-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
  background-image: -o-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e90d3b), color-stop(1, #ab053b)) !important;
  background-image: -webkit-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
  background-image: linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
}
.item-calculate-button{
	display:inline-block;
	
}
.item-calculate:hover {
	background-color: #fdd6df;
  background-image: -moz-linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
  background-image: -ms-linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
  background-image: -o-linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff0d3b), color-stop(1, #c3053b)) !important;
  background-image: -webkit-linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
  background-image: linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
}
.item-calculate a{
	font-size:19px;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}
.item-calculate a:hover{
	color:#fff;
	text-decoration:none;
}
.item-calculate a:visited{
	color:#fff;
	text-decoration:none;
}
.item-license{
	padding:8px 20px;
	border-radius:5px;
	float:right;	
}
.notpublicdomain .item-license{
	background-color:#f9dcdf;	
}
.publicdomain .item-license{
	background-color:#ddf2d5;	
}
.unknownpublicdomain .item-license{
	background-color:#e5e5e5;	
}
.pdc-questions-wrapper{
	margin-top:30px;	
}
.pdc-questions{
	border-radius:5px;	
	margin-bottom:25px;
	overflow:hidden;
	font-size:15px;
}
.pdc-question{
	padding:11px;	
}
.pdc-answer{
	padding:11px;		
}
.unknown .pdc-question{
	background-color:#e5e5e5;	
}
.unknown .pdc-answer{
	background-color:#f4f4f4;	
}
.negative .pdc-question{
	background-color:#f9dcdf;	
}
.negative .pdc-answer{
	background-color:#F9E8EA;	
}
.notes{
	color: #acacac;
    float: right;	
}
.positive .pdc-question{
	background-color:#ddf2d5;	
}
.positive .pdc-answer{
	background-color:#eaf6e6;	
}
#ddb-pdc-form .form-submit{
  background: #292929;
    background-color: #fdd6df;
  background-image: -moz-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
  background-image: -ms-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
  background-image: -o-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e90d3b), color-stop(1, #ab053b)) !important;
  background-image: -webkit-linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
  background-image: linear-gradient(top, #e90d3b 0%, #ab053b 100%) !important;
  border:none;
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em; /* LTR */
  padding: 5px 17px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   border-radius: 5px;
   width: 125px;
}
#ddb-pdc-form .form-submit:hover,
#ddb-pdc-form .form-submit:focus {
  background: #292929;
    background-color: #fdd6df;
  background-image: -moz-linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
  background-image: -ms-linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
  background-image: -o-linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff0d3b), color-stop(1, #c3053b)) !important;
  background-image: -webkit-linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
  background-image: linear-gradient(top, #ff0d3b 0%, #c3053b 100%) !important;
}